td {width:30px;height:30px;text-align:center;}
body,td {font-size:1.5em;}
td {border-color:black; margin:0;padding:0; border-style:solid;border-width:1px;}
td.star {border-width:1px; border-color:red; padding:0; background-color:red}
td.start {border-width:1px; border-color:blue; padding:0; background-color:blue}
td.your_start {border-width:1px; border-color:green; padding:0 background-color:green}
td.filled {background-color:lightgrey}
#hand {
    padding: 4px;
    background-color: lightgrey;
    min-height:40px;
    width: 300px;
    float:left;
}
.hand_tile, 
.board_tile {
    background-color: #00CC00;
    border: 1px solid black;
    font-size: 26px;
    height: 26px;
    text-align: center;
    width: 28px;
}
.hand_tile {
    float: left;
    border: 2px dashed;
}
.hand_tile:hover {
    position: relative;
    left: 2px;
    top: -2px;
    z-index: 2;
}
.tile_position_br {
    background-color: #FF0000;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}
.tile_position_ur {
    background-color: #FF7400;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.tile_position_ul {
    background-color: #009999;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
.ui-state-active {
    background-color: gray;
}


.stars {font-size:50px; color:#ffd311;}

/*
.star {
    float: left;
    display: block;
    overflow: hidden;
    text-indent: -999em;
    cursor: default !important;
    width: 30px;
    height: 30px;
    display: block;
    background: url(/static/ui.stars.gif) no-repeat 0 0;
    background-position: 0 -92px;
}
.star-off {
    background: url(/static/ui.stars.gif) no-repeat 0 0;
    background-position: 0 -61px;
}
*/

.playerprofile {background:lightblue;width:120px;height:220px;text-align:center; border: solid black 1px; margin:auto;}
.playerprofile .info {width:220px;float:right;}
.horizontalprofile {width:320px;height:100px;}
#scores { display:none; }
#chat {float:right;background-color:lightgray;width:100%}
#chatwindow {width:100%;height:374px;}
