{% extends "base.html" %}
{% block js-preload %}
    <script src='/_ah/channel/jsapi'></script>
    <script language="javascript" src="/static/javascript.js"></script>
    <script language="javascript">
        //setTimeout("location.reload(true);", 5000); 
        $(document).ready(function() {
            openChannel('{{token}}');
        });


    </script>
{% endblock %}
{% block content %}
    waiting for other players to join, the game will start shortly<br/><br/>
    Current Players:
    <ul id='playerlist'>
    {% for player in players %}
        <li>{{player}}</li>
    {% endfor %}
    </ul>

    {% if joinlink %}
        <input type='button' onclick='joinGame();' value='join'>
    {% endif %}

    {% if startlink %}
        Observers can
        <select type='checkbox' name='observer' id='observer'>      
            <option value='none'>not watch</option>
            <option value='watch'>watch</option>
            <option value='chat'>chat and watch</option>
        </select>      
        game<br/><br/>
        <input type='button' onclick='startGame();' value='start'/>
    {% endif %}

{% endblock %}
