{% extends "base.html" %}
{% block js-preload %}
    <script src='/_ah/channel/jsapi'></script>
    <script language="javascript">
        var player = '{{player}}';
        var playercount = '{{playercount}}';
        var position = '{{position}}';
        var profiles = JSON.parse('{{profiles}}');
    </script>
    <script language="javascript" src="/static/javascript.js"></script>
    <script language="javascript">
$(document).ready(function() {
    buildBoard(player);
    updateTiles();
    setInterval ( "updateTiles()", 60000 );
    $( ".hand_tile" ).draggable({ revert: "invalid"});
    makeDroppable();
    //$( "#hand" ).sortable({
    //    revert: false,
    //    axis: 'x'
    //});
    $(".board_tile").disableSelection();

    var count = 1;
    for (var profile in profiles){
        profile = profiles[profile];
        console.log(profile);
        $('td#player'+count+'profile').addClass(profile.key);
        $('td#player'+count+'profile').append("<img src='"+profile.gravatar+"' style='float:left;'/>");
        $('td#player'+count+'profile').append("<div class='info'><div>"+profile.name+"</div><div class='stars'><span class='yellowstars'></span><span class='graystars'></span></div></div>");
        count += 1;
    }

    $('#chatwindow').attr('scrollTop',$('#chatwindow').attr('scrollHeight') );
    $('#chatwindow').height( $('#chatwindow').height() +  $('table#board').height() - $('table#sidepanel').height());
    openChannel('{{token}}');
});

    </script>
{% endblock %}
{% block content %}

    <table id='board' style='float:left;'></table>

    <table id='sidepanel'>
        {% ifnotequal playercount 1 %}
        {% ifnotequal playercount 2 %}
        <tr>
            <td id='player4profile' class='playerprofile'></td>
            <td id='player3profile' class='playerprofile'></td>
        </tr>
        {% endifnotequal %}
        {% endifnotequal %}
        <tr>
            <td id='player1profile' {% ifequal playercount 1 %} colspan='2' {% endifequal %} class='playerprofile'></td>
            {% ifnotequal playercount 1 %}
            <td id='player2profile' class='playerprofile'></td>
            {% endifnotequal %}
        </tr>
        <tr>
            <td colspan='2'>
                <div id='chat'>
                    <textarea id='chatwindow' readonly="readonly">{{chat}}</textarea>
                    <form onsubmit='return chat();'>
                        <input type='text' id='chattext' style='width:90%;'/>
                        <input type='submit' value='send' style='width:9%;'/>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan='2' id='tilesleft'>
            </td>
        </tr>
        {% ifnotequal player 'player0' %}
        <tr>
            <td colspan='2'>

                <span style='width:505px;'>
                    <div id='hand'>
                    {% for tile in tiles %}
                        <div class='hand_tile'>{{tile}}</div>
                    {% endfor %}
                    </div>
                    &nbsp;
                    <span>
                        <span id='actions'>
                            <input type='button' onclick='submitTiles();' value='submit'/>       
                            <input type='button' onclick='dumpTiles();' value='dump'/>       
                        </span>
                        <input type='button' onclick='resetTiles();' value='reset'/>       
                        <input type='button' onclick='challengeTiles();' value='challenge'/>       
                    </span>
                </span>
            </td>
        </tr>
        {% endifnotequal %}
    </table>
{% endblock %}
