{% extends "base.html" %}
{% block js-preload %}
    <script src='/_ah/channel/jsapi'></script>
    <script language="javascript">
        var player = '{{player}}';
        var playercount = '{{playercount}}';
        var position = '{{position}}';

        var profiles = JSON.parse('{{profiles}}');

    </script>
    <script language="javascript" src="/static/javascript.js"></script>
    <script language="javascript">
        openChannel('{{token}}');
    </script>
{% endblock %}
{% block content %}

    <div id='board' style='float:left;'></div>

    <table>
        <tr>
            <td><div id='player4profile' class='playerprofile horizontalprofile'></div></td>
            <td><div id='player3profile' class='playerprofile horizontalprofile'></div></td>
        </tr>
        <tr>
            <td><div id='player1profile' class='playerprofile horizontalprofile'></div></td>
            <td><div id='player2profile' class='playerprofile horizontalprofile'></div></td>
        </tr>
        <tr>
            <td colspan='2'>
                <div id='chat'>
                    <textarea id='chatwindow' readonly="readonly">Chat:</textarea>
                    <form onsubmit='return chat();'>
                        <input type='text' id='chattext' style='width:90%;'/>
                        <input type='submit' value='send' style='width:9%;'/>
                    </form>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan='2'>

                <div style='width:600px;'>
                    <div id='hand'>
                    {% for tile in tiles %}
                        <div class='hand_tile'>{{tile}}</div>
                    {% endfor %}
                    </div>
                    &nbsp;
                    <div style='float:right;'>
                        <span id='actions'>
                            <input type='button' onclick='submitTiles();' value='submit tiles'/>       
                            <input type='button' onclick='dumpTiles();' value='dump tiles'/>       
                        </span>
                        <input type='button' onclick='resetTiles();' value='reset tiles'/>       
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
