{% extends "base.html" %}
{% block content %}
<div id='content'>
<h1 style='text-align:center;'>Questique Online</h1>
    <p>Questique is a strategy crossword game for 1-4 players. 
    You take your turn by placing letter tiles on the board to form words either left-to-right or up-to-down, building off of your previous tiles (like in Scrabble). 
    The goal is to be the first to cover four red star squares with your tiles.</p>


<div style='float:right;width:50%;'>
<h2>Rules:</h2>
    <h3>Gameplay for 2-4 players:</h3>
    <p>Turn order is randomly assigned at the beginning of the game. 
    You are assigned 7 tiles randomly from the pool and your first word must cover the blue square in your quadrant (the lower left). 
    Words must be dictionary words and not proper nouns. 
    Your tiles may not touch another player's tiles horizontally or vertically. 
    You must form one continous word, touching at least one of your other tiles vertically or horizontally. 
    Any other crosswords formed must also be acceptable words. 
    You can move tiles around or "reset" tiles (removing all newly placed tiles back to your rack). 
    Once you are satisfied with your word, "submit" and your turn will end. Your tiles will be automatically replenished. 
    If you wish, you may sacrifice a turn to "dump" all your tiles back into the pool and draw 7 new ones. 
    Blank tiles may be used to represent any letter you wish, but once they are played, the letter they represent will remain the same for the rest of the game. 
    If you believe another player has formed an unacceptable word, you may "challenge" them. 
    You can only do this immediately after the word is played. 
    If the challenged word is indeed unacceptable, the player will get the tiles back and forfeit a turn. 
    If the challenged word is acceptable, the player who challenged it forfeits a turn.</p>
    <h3>Gameplay for 1 player:</h3>
    <p>Rules are the same as above, but the goal is to cover all stars on the board in the least number of turns possible.</p>
    <h3>Tile Pool (150 tiles):</h3>
    <p>A:15, B:4, C:3, D:6, E:20, F:3, G:5, H:3, I:14, J:1, K:1, L:6, M:5, N:9, O:11, P:4, Q:1, R:9, S:7, T:9, U:5, V:1, W:2, X:1, Y:1, Z:1, blank:3</p>
</div>
<div style='float:left;'>
<h2>Games:</h2>
{% if mygames %}
<h3>My Games:</h3>
    <ul>
        {% for game in mygames %}
        <li><a href='/game/{{game.key}}/'>play game</a> ({{game.name}} - {{game.status}})</li>
        {% endfor %}
    </ul>

{% endif %}
<h3>Play:</h3>
    <ul>
        <li><a href="new">create a new game</a></li>
        {% for game in playgames %}
        <li><a href='/game/{{game.key}}/'>join game</a> ({{game.name}} - {{game.playerlist|length}}/4 players)</li>
        {% endfor %}
    </ul>
<h3>Watch:</h3>
    <ul>
        {% for game in watchgames %}
        <li><a href='/game/{{game.key}}/'>watch game</a> ({{game.name}} - {{game.playerlist|length}}/4 players)</li>
        {% endfor %}
    </ul>

</div>
<br style='clear:both'/>
<p>DISCLAIMER: I am not the creator of this game. It was a board game made in England which seems to no longer exist. I built this online version because I liked the game and wanted to play it. It is as close to the original as I could make from memory. If you are the creator of this game please contact me.</p>
</div>
{% endblock %}
