{% extends "base.html" %}
{% block js-preload %}
    <script language="javascript">
            setTimeout("location.reload(true);", 5000); 
    </script>
{% endblock %}
{% block content %}
    new game created<br/>
    wait for players to join<br/>
    <ul>
    {% for player in players %}
        <li>{{player}}</li>
    {% endfor %}
    </ul>
    <form method='post'>
        <input type='hidden' name='action' value='start'/>
        <input type='submit'/>
    </form>
    <a href="join">join link for other players</a>
{% endblock %}
